{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="py-5"> <!-- Removed bg-dark class -->
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-muted mb-0">Welcome To SkyriseDecor...</p>
                </div>
            </div>
        </header>

        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-8">
        				<br/><br/>
        				<p align="justify">
At **SkyriseDecor**, we believe that furniture is more than just a functional necessity — it's an expression of your unique style and taste. Since our inception, we have been committed to delivering beautifully designed, high-quality furniture that transforms homes into sanctuaries. Our diverse collection includes everything from modern, sleek designs to timeless, classic pieces, ensuring that we have something for every home.

<br/><br/>

Our mission is simple: to make stylish, comfortable, and durable furniture accessible to everyone. We work with skilled artisans who use only the finest materials to craft furniture that not only enhances your living space but is also built to last. From luxurious sofas and elegant dining tables to cozy bedroom sets, we are dedicated to helping you create the home of your dreams.

<br/><br/>

We are proud to be a customer-centric brand, always striving to provide excellent service from the moment you step into our showroom or visit our online store. At SkyriseDecor, it's not just about selling furniture; it's about helping you craft the perfect environment where memories are made.

<br/><br/>

Whether you are furnishing a new home or simply updating a room, our expert team is here to guide you through every step, ensuring a seamless and enjoyable experience. Thank you for choosing SkyriseDecor, where quality, comfort, and style meet.
        				</p>
        			</div>
        		</center>
        	</div>
        </div>

{% endblock %}
